*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #35438C;
}
.inner_header{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.web_title a{
    height: 80px;
    display: table;
    float: left;
}
.web_title a h1{
    color:white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: 300;
}
.web_title a h1 span{
    font-weight: 900;
}
.navigation a:last-child{
    padding-right: 0;
}
.navigation{
    float: right;
    height: 100%;
}
.navigation a{
    list-style: none;
    height: 100%;
    float: left;
    padding: 0px 20px;
}
.navigation a li{
    font-weight: 800;
    width: 110px;
    background-color: #35438C;
    border: 1% solid #35438C;
    line-height: 80px;
    height: 100%;
    color: white;
    font-family: 'Montserrat';
    font-size: 17px;
    text-align: center
}
.web_title h1:hover{
    color: #DEAC2D;
}
.navigation a li:hover{
    color: #DEAC2D;
}
.navigation ul {
    display: none;
}
.navigation ul li {
    color: white;
    background-color: 35438C;
}
.navigation a li:hover > .inner_navigation{
    display: inline;
}
.body_text{
    background-color: #3399ff;
    background-repeat: no-repeat;
    background-size: auto;
    height: 1000px;
}
.box{
    width: 100%;
    height: 30px;
    display: block;
    background-color: #3399ff;
    padding-bottom: 10px;
}
.box_text{
    border-radius: 20px;
    margin-left: 90px;
    border: 5px solid black;
    width: 70%;
    height: 500px;
    display: block;
    background-color: white;
}
.inner_box_text h1{
    text-align: left;
    padding-top: 1%;
    padding-left: 1%;
    font-family: 'Rubik', sans-serif;
    font-weight: bolder;
}
.inner_box_text p{
    text-align: justify;
    padding-left: 1%;
    padding-right: 1%;
    font-family: 'Rubik', sans-serif;
}
.accounts {
    float: right;
    list-style: none;
}
.accounts a img{
    display: inline;
    padding: 1px 50px;
}